<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 내역</title>
    <!-- 부트스트랩 CSS를 사용하거나 원하는 스타일 시트를 링크할 수 있습니다. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>예약 내역</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>차량 번호</th>
                    <th>예약 시간</th>
                    <th>예약 시각</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.car_id }}</td>
                    <td>{{ reservation.timestamp.strftime('%Y-%m-%d') }}</td>
                    <td>{{ reservation.timestamp.strftime('%H:%M:%S') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
